<main id="main" class="main">
  <div class="pagetitle">
    <h1>Liste des étudiants</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/scolarite/etudiant']">Étudiants</a></li>
        <li class="breadcrumb-item active">Liste</li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header uas-bg-color text-center">
            <h3 class="m-0"><i class="bi bi-people me-2"></i>Étudiants</h3>
          </div>

          <div class="card-body">
            <div class="d-flex">
              <div *ngIf="hasInterface('Scolarite','ecriture')" class="justify-content-start col">
                <a class="btn btn-success m-3" [routerLink]="['/scolarite/etudiant/create']">
                  <i class="bi bi-plus-circle mx-2"></i> Ajouter
                </a>
              </div>
              <div class="justify-content-end">
                <button class="btn uas-btn-color-light m-3" (click)="exportCSV()">
                  <i class="bi bi-filetype-csv mx-2"></i>Exporter CSV
                </button>
                <button class="btn uas-btn-color-light m-3" (click)="exportPDF()">
                  <i class="bi bi-printer mx-2"></i>Exporter PDF
                </button>
              </div>
            </div>

            <!-- Rechercher -->
            <input type="text" placeholder="Rechercher..." (input)="updateFilter($event)" class="form-control mb-3" />

            <ng-template #photoTemplate let-row="row">
              <img [src]="row.photo || 'assets/img/profile-img.jpg'" alt="Photo étudiant" class="img-thumbnail"
                width="50" height="50" />
            </ng-template>

            <ng-template #actionsTemplate let-row="row">
              <div class="row">
                <button *ngIf="hasInterface('Scolarite','lecture')" class="btn uas-btn-color-alt btn-sm me-1 col"
                  (click)="edit(row)">
                  <i class="bi bi-eye"></i>
                </button>
                <button *ngIf="hasInterface('Scolarite','suppression')" class="btn uas-btn-color btn-sm me-1 col"
                  (click)="delete(row)">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </ng-template>

            <ngx-datatable #datatable class="material striped" [rows]="rows" [columns]="columns" [columnMode]="'force'"
              [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
            </ngx-datatable>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>