<main id="main" class="main">
  <div class="pagetitle">
    <h1>{{ isEditMode ? 'Modifier une formation' : 'Nouvelle formation' }}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/facultes/faculte']">Facultés</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/facultes/formation']">Formations</a></li>
        <li class="breadcrumb-item active">{{ getLink() }}</li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">

          <div class="card-header uas-bg-color d-flex justify-content-between align-items-center">
            <div>
              <h3 class="m-0">
                Informations de la formation
                <span *ngIf="isEditMode" class="badge ms-2" [ngClass]="getBadgeClasse()">
                  {{ getBadgeTexte() }}
                </span>
              </h3>
            </div>
            <div *ngIf="hasInterface('Faculte','ecriture')" class="form-check form-switch">
            <div *ngIf="isEditMode" class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="editSwitch"
                     (change)="toggleReadOnly()" [checked]="!readOnly" />
              <label class="form-check-label ms-2" for="editSwitch">Activer la modification</label>
            </div>
            </div>
          </div>

          <div class="card-body">
            <form #form="ngForm" (ngSubmit)="onSubmit()">

              <div class="form-floating my-3">
                <input type="text" class="form-control" id="nom" [(ngModel)]="formation.nom" name="nom" required [disabled]="readOnly" placeholder="Nom de la formation" />
                <label for="nom">Nom</label>
              </div>

              <div class="form-floating my-3">
                <input type="text" class="form-control" id="code" [(ngModel)]="formation.code" name="code" [disabled]="readOnly" placeholder="Code de la formation" />
                <label for="code">Code</label>
              </div>

              <div class="form-floating my-3">
                <textarea class="form-control" id="conditions" [(ngModel)]="formation.conditions" name="conditions" placeholder="Conditions d'accès" [disabled]="readOnly"></textarea>
                <label for="conditions">Conditions d'accès</label>
              </div>

              <div class="form-floating my-3">
                <input type="number" class="form-control" id="duree" [(ngModel)]="formation.duree" name="duree" min="1" placeholder="Durée (années)" [disabled]="readOnly"/>
                <label for="duree">Durée (années)</label>
              </div>

              <!-- Département -->
              <div class="form-floating my-3">
                <select class="form-select" [(ngModel)]="formation.departement_id" name="departement" [disabled]="readOnly" required>
                  <option *ngFor="let d of departements" [value]="d.id">{{ d.nom }}</option>
                </select>
                <label for="departement">Département</label>
              </div>

              <!-- Actions -->
              <div class="row m-3">
                <button *ngIf="hasInterface('Faculte','ecriture')" type="submit" class="btn uas-btn-color-alt col me-2" [disabled]="readOnly">
                  <i class="bi bi-save mx-2"></i> {{ isEditMode ? 'Modifier' : 'Enregistrer' }}
                </button>
                <button type="button" class="btn uas-btn-color col" (click)="cancel()">
                  <i class="bi bi-arrow-left-circle mx-2"></i> Retour
                </button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>
